<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmotionDetection</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-8offset-lg-2">
            
            <form action='/send' method="POST">
                <p>User Name</p>
                <input type="text" name="user_name" placeholder="Enter your name" required><br>
                <input type="Live streaming" value="Submit">
         <button>Get Analytics</button>    
                
                
        </div>
    </div>
    
</body>
</html>